* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Slim Joe';
    src: url('../fonts/slimjoe.woff2') format('woff2'),
         url('../fonts/slimjoe.otf') format('otf'),
         url('../fonts/slimjoe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Big John';
    src: url('../fonts/bigjohn.woff2') format('woff2'),
         url('../fonts/bigjohn.otf') format('otf'),
         url('../fonts/bigjohn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 10px;
    height: 100%;
    // border: 10px solid white;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: #3c4955;
    min-height: 100%;
    background-color: #000;
    color: #fff;
}
.container{
    max-width: 1110px;
    width: 90%;
      margin: 0 auto;
}
.bg{
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // overflow: hidden;
    height: 100vh;
}

.header{
    margin: 0 auto;
  &__name{
    padding: 200px 0 0 0;
    text-align: center;
    &--h1{
      text-transform: uppercase;
    }
    &--h2 {
      text-transform: capitalize;
    }
  }
  &__search{
    text-align: center;
    &--input{
    padding: 15px;
    display: inline-block;
    width: 40%;
    height: 10%;
    margin: 0 auto;
    text-align: center;
    }
    &--button{
    border: 2px solid white;
    width:10%;
    font-size: 2rem;
    margin: 0;
    background-color: #5474fd;

    }
  }
  &__logo{
    float: left;
    margin: 15px;
    padding: 0 0 0 200px;
  }
  &__nav{
    float: right;
    padding: 0 200px 10px 0 ;
  }
  &__footer{
    left: 0;
    right: 0;
    padding: 0px 0;
    bottom: 0;
    // border: 1px solid red;
    position: absolute;
    background-color: #5474fd;
  }
  &__li{
      display: inline-block;
    }
  &__link{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  }
  &__scroll {
    padding: 10% 0;
    text-transform: capitalize;
    &--link{
    text-decoration: none;
    color: #fff;     
    }
  }
}
.flex{
   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    &--main{
    justify-content: space-around;
    align-content: space-around;

    }
    &--path{
      padding: 0 10%;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 0;
    }
}
.main{
  padding: 50px 50px;
  height: 80vh;
  &__name{
    text-transform: capitalize;
  }
    &__info{
      margin: 0 auto;
      width: 90%; 
     }
  &__text{
    padding: 15px 5px;
    width: 80%;
  }
  &__button{
    display: inline-block;
    margin: 30px 0 0 0;

  }
  &__img{
    width: 300px;
    &--1{
      margin: 0 auto;
    }
    &--2{
      float: right;
    }
  }
}

.btn{
    text-transform: uppercase;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: all .4s ease-in-out;
    background: #5474fd;
    color: #fff;
    border-color: #5474fd;
  }
  .path{
    padding: 50px 0 0 0;
    margin: 0 auto;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
      background-color: #333;

    &__li{
      background-color: #333;
      padding: 20px;
      display: inline-block;
      text-align: center;
      position: relative;
      z-index: 2;
    }
  }

.dots{
 position: absolute;
 top: 10px;
 left: 50%;
 transform: translate(-50%,0);
}

.hotel{
  height: 100vh;
    padding: 0;
    margin: 0;
  &__name1{
  }
  &__container{
    float: left;
    width: 90%;
    width: 50%;
    padding: 20% 0 0 20%;
  }
  &__item{
    background-color: rgba(70,70,70,0.8);
    padding: 15px; 
  }
}

.mount{
  height: 100vh;
    padding: 0;
    margin: 0;
  &__name1{
  }
  &__container{
    float: right;
    width: 90%;
    width: 50%;
    padding: 20% 15% 0 5%;
  }
  &__item{
    background-color: rgba(70,70,70,0.8);
    padding: 15px; 
  }
}

.runner{
  height: 100vh;
    padding: 0;
    margin: 0;
  &__name1{
    padding: 50px 0 0 0;
    text-align: center;
  }
  &__name2{
    padding: 0 0 0 20px;
  }
  &__div{
    background-color: rgba(70,70,70,0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    width: 60%;
    margin: 0 auto;
  }
  &__text{
    display: inline-block;
  }
  &__text:before{
    content: '"';
    color: blue;
  }
  &__img{
    padding: 0;
    width: 48%;
  }
}

.footer{
  background-color: #232323;
  border: 5px solid white;
  text-align: center;
  &__flex{
    margin: 0 auto;
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding: 0 5px;
  }
  &__link{
    text-decoration: none;
    display: block;
  }
}